*{
margin: 0;
padding: 0;
}
.hero_image{
     background: url(mediterranean-cuisine-2378758_1920.jpg) no-repeat;
     background-size: cover;
     height: 100vh;
}
.hero_wrapper{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-50%,-50%);
}
.hero_wrapper h1{
    font-size: 2    .4rem;
    text-align: center;
}
.form_code{
    text-align: center;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: 0.6rem;
    border: none;
    outline: none ;
}
.form_code button{
    width: 40%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: tomato;
    color: white;
    padding: 0.6rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 2rem;

}

/* ?Product section */
.product{
    margin-top: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.product_list_item{
    float: left;
    width: 32%;
    margin-left: 0.5rem;
}
.img_responsive{
    max-width: 100%;
}
@media screen and ( max-width:700px){
    .product_list_item{
        width:100%;
        float:none;
    }
}